<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @family, partial: "card", as: :family %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "families/family_scores" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "families/family_users" %>
  </div>
</div>
  <!-- Show Page Customization end -->
