<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Agenda Items

    <a data-toggle="collapse" href="#user_agenda_items_new_form">
      Add agenda item
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.agenda_items.each do |agenda_item| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to agenda_item, agenda_item %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_agenda_items_new_form">
        <%= render partial: "users/user_agenda_items_new_form" %>
      </div>
    </div>

  </ul>
</div>
