<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @user_type, partial: "card", as: :user_type %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_types/user_type_users" %>
  </div>
</div>
  <!-- Show Page Customization end -->
